@charset "UTF-8";
/********************** RUTA DE IMAGENES **********************************************************/
/********************** Variables - Fuente_Tipografica *********************************/
/*Los colores tienen el original 1 luego los degradados iran incrementando 1,2,3...*/
/********************** BARRA DE NAVEGACION **********************************************************/
/**********************  PIE DE PAGINA   *******************************************************/
/********************** MENÚ VERTICAL **********************************************************/
/********************* IMAGEN EN MOVIMIENTO**********************************************************/
/************************************ TABLAS SIMPLE ********************************************/
/************************************ TABLAS COMPLEJA ********************************************/
/************************************ SLIDER AUTOMATICO ****************************************/
/************************************ TABLAS AlTERNA ********************************************/
/********************** PANEL ADMIN - DASHBOARD **********************************************************/
/********************** INPUT - NORMAL ***********************************************************/
/********************** INPUT - FIELD = GOOGLE *****************************************************/
/********************** INPUT - MATERIAL DESING *********************************************************/
.maquetado > .col-chiki-1 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.maquetado > .col-chiki-2 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.maquetado > .col-chiki-3 {
  flex: 0 0 50%;
  max-width: 50%;
}

.maquetado > .col-chiki-4 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.maquetado > .col-chiki-5 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.maquetado > .col-chiki-6 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .maquetado > .col-peque-1 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .maquetado > .col-peque-2 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .maquetado > .col-peque-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .maquetado > .col-peque-4 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .maquetado > .col-peque-5 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .maquetado > .col-peque-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .maquetado > .col-medi-1 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .maquetado > .col-medi-2 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .maquetado > .col-medi-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .maquetado > .col-medi-4 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .maquetado > .col-medi-5 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .maquetado > .col-medi-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .maquetado > .col-largo-1 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .maquetado > .col-largo-2 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .maquetado > .col-largo-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .maquetado > .col-largo-4 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .maquetado > .col-largo-5 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .maquetado > .col-largo-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.boton_primario {
  display: inline-block;
  text-decoration: none;
  padding: 0.5em 1em;
}
@media screen and (min-width: 800px) {
  .boton_primario {
    background: green;
  }
}

.boton_secundario {
  display: inline-block;
  text-decoration: none;
  padding: 0.5em 1em;
}
@media screen and (min-width: 100px) {
  .boton_secundario {
    background: green;
  }
}

h1 {
  font-family: 40px;
}

h2 {
  font-family: 30px;
}

h3 {
  font-family: 20px;
}

.button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
}

html {
  min-height: 100%;
  position: relative;
}

.fa-align-justify {
  float: right;
  font-size: 30px !important;
  margin: 5px 10px;
  cursor: pointer;
  color: white;
}

/**********************    IMG   *******************************************************/
img {
  max-height: 90%;
}

.maquetado {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.maquetado > * {
  padding: 1rem;
}

.contenedor {
  max-width: 95%;
  margin: 0 auto;
  padding-top: 0;
}

/******************************************* IMAGEN CON EFECTO **************************************************/
html {
  box-sizing: border-box;
}

ul.lista-invitados li {
  padding: 10px;
  float: left;
  list-style: none;
}

div.invitado {
  position: relative;
  overflow: hidden;
}

div.invitado img {
  max-width: 100%;
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.5s ease-in-out;
}

div.invitado:hover img {
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.1);
}

div.invitado p {
  position: absolute;
  bottom: 4px;
  left: 0;
  padding: 15px 10px;
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.55);
  width: 100%;
  text-align: left;
  color: #fe4918;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-in-out;
}

div.invitado:hover p {
  bottom: -80px;
  opacity: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*Globales*/
.contenedor {
  margin: 0 auto;
}

.seccion p {
  font-size: 1.2em;
  text-align: center;
}

/*Algunos Prefijossssss para los efectos tenerlos en cuenta*/
.opaco {
  --webkit-filter:brightness(.2)!important;
}

.rotativo {
  transform: rotate(3deg) !important;
}

/**********************    BARRA DE NAVEGACION   *******************************************************/
.Barra-adm {
  width: 100%;
  height: 40px;
  background-color: black;
  position: fixed;
}

/****************************************	BOTONES *********************************************/
.btn-primario {
  text-align: center;
  background-color: dodgerblue;
  padding: 15px 15px;
  color: white;
  font-weight: 100;
  font-size: 1.5em;
  border-radius: 3.5px;
  text-decoration: none;
  transition: all 0.15s linear;
}

.btn-primario:hover {
  cursor: pointer;
  background: #178eba;
}

/*******************************************************************/
/******************************* EFECTO PARALLAX con before-GLwebcamp *********************************************/
/*Para mi contenedor Oficial*/
.contenido {
  width: 98%;
  margin: 0 auto;
}

@media only screen and (min-width: 480px) {
  .contenido {
    width: 95%;
  }
}
@media only screen and (min-width: 768px) {
  .contenido {
    width: 90%;
  }
}
@media only screen and (min-width: 992px) {
  .contenido {
    width: 90%;
    max-width: 1100px;
  }
}
/* Fin contenedor oficial */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/** CONTADOR  **/
.parallax::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
}

div.contador {
  position: relative;
  height: auto;
}

div.contador::before {
  background-image: url(../multimedia/bg-resumen.jpg);
  content: "";
}

ul.resumen-evento {
  position: relative;
  padding: 120px 0px;
}

ul.resumen-evento li {
  width: 24%;
  float: left;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
}

@media only screen and (min-width: 768px) {
  ul.resumen-evento li {
    width: 25%;
  }
}
p.numero {
  color: #fe4918;
  font-size: 4em;
  display: block;
  margin: 0 0 10px 0;
  font-family: "Oswald", sans-serif;
}

/* Esta wuevada afecta a todo mis parallax */
/* los hace chiquitola imagen si los quito, es before */
.biforito:before,
.biforito:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.biforito:after {
  clear: both;
}

/********************************************** FORMULARIO TRASNPARENTE II *******************************************************/
.form-transII {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.form-transII h2 {
  margin-top: 0px;
  font-family: Source Sans Pro;
  font-weight: lighter;
  color: white;
  font-size: 50px;
  text-align: center;
  margin-bottom: 35px;
}

.form-transII input {
  display: block;
  width: 320px;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-family: Source Sans Pro;
  font-weight: lighter;
  font-size: 14px;
  margin-bottom: 10px;
  padding-left: 10px;
  border-radius: 5px;
  color: white;
}

.form-transII button {
  width: 321px;
  height: 50px;
  font-size: 16px;
  background: #000;
  font-weight: lighter;
  color: white;
  border: 0px;
  border-radius: 5px;
}

/***************************************** FORMULARIO TRASNPARENTE **********************************************/
.form-trans {
  border: solid 4.4px black;
  border-radius: 9px;
  width: 55%;
  height: auto;
  margin: 80px auto;
  padding: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 2s ease;
  text-align: justify;
  font-family: Courier, monospace;
}
.form-trans:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
  transform: rotate(9.9);
  color: white;
}
.form-trans input {
  padding: 5px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  width: 100%;
}
.form-trans input:hover {
  transition: all 0.3s ease;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}
.form-trans h1, .form-trans h2, .form-trans h3 {
  padding: 0 0 15px 0;
  text-align: center;
  color: white;
}
.form-trans .btn-response {
  padding: 9px 9%;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 49%;
  margin: 0 29%;
  margin-bottom: 9px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
.form-trans .btn-response:active {
  transform: scale(0.9);
}
.form-trans h1:hover, .form-trans .btn-response:hover {
  color: turquoise;
}

/******************************************* IMAGEN CON EFECTO **************************************************/
html {
  box-sizing: border-box;
}

ul.lista-invitados li {
  padding: 10px;
  float: left;
  list-style: none;
}

div.invitado {
  position: relative;
  overflow: hidden;
}

div.invitado img {
  max-width: 100%;
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.5s ease-in-out;
}

div.invitado:hover img {
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.1);
}

div.invitado p {
  position: absolute;
  bottom: 4px;
  left: 0;
  padding: 15px 10px;
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.55);
  width: 100%;
  text-align: left;
  color: #fe4918;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-in-out;
}

div.invitado:hover p {
  bottom: -80px;
  opacity: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*Globales*/
.contenedor {
  margin: 0 auto;
}

.seccion p {
  font-size: 1.2em;
  text-align: center;
}

/*Algunos Prefijossssss para los efectos tenerlos en cuenta*/
.opaco {
  --webkit-filter:brightness(.2)!important;
}

.rotativo {
  transform: rotate(3deg) !important;
}

/**********************IMAGEN EN MOVIMIENTO**********************************************************/
.contenedor-portada {
  border: solid 6px gold;
  width: 100%;
  height: 400px;
  background-size: 200%;
  animation: movimiento 20s infinite linear alternate;
}

.movimiento-1 {
  background-image: url(../multimedia/moverse1.jpg);
}

.movimiento-2 {
  background-image: url(../multimedia/moverse2.jpg);
}

.movimiento-3 {
  background-image: url(../multimedia/moverse3.jpg);
}

@keyframes movimiento {
  from {
    background-position: bottom left;
  }
  to {
    background-position: top right;
  }
}
/***************************************** IMAGEN REDONDA **********************************************/
.img-redondo {
  min-width: 80px !important;
  min-height: 80px !important;
  max-width: 20%;
  max-height: 20%;
  border: solid 3px gold;
  border-radius: 100%;
}

/********************** MENÚ VERTICAL **********************************************************/
.Menu-vertical {
  width: 100%;
  max-width: 30%;
  min-width: 200px;
  height: 100%;
  position: relative;
  color: white;
  outline: 1px solid #2a2a2a;
  background-color: #333;
}
.Menu-vertical h2 {
  margin: 0;
  padding: 0;
  padding: 10px;
  background: #2a2a2a;
}
.Menu-vertical a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
}
.Menu-vertical ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.Menu-vertical li {
  outline: 1px solid #2a2a2a;
  transition: all 0.3s;
}

.luz:hover {
  background: #444;
  border-left: 5px solid #eee;
}

/********************************************** EFECTO NEON rosado *******************************************************/
.neon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0 20px;
  font-size: 6em;
  color: white;
  text-shadow: 0 0 20px #ff005b;
}

.neon:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20px;
  z-index: -1;
  color: #ff005b;
  filter: blur(15px);
}

.neon:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fe3a80;
  z-index: -2;
  opacity: 0.6;
  filter: blur(40px);
}

/*********************************************************** PAGINACION ***********************************************************/
.paginacion {
  display: inline-block;
}

.paginacion a {
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
  color: black;
}

.paginacion a.activado {
  background-color: #4CAF50;
  border: 1px solid #4CAF50;
  color: white;
}

.paginacion a:hover:not(.activado) {
  background-color: #ddd;
}

.paginacion a:first-child {
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.paginacion a:last-child {
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/***************************************** EFECTO PARALLAX sin-before *******************************************************/
.parallax-contenido {
  height: 60vh;
  width: 100%;
  background-image: url(../multimedia/i3.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

.parallax-contenido h2 {
  font-family: arial black;
  font-size: 50px;
  color: tomato;
  margin: 0px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
}

p.caracter {
  color: #fe4918;
  font-size: 2.2em;
  display: block;
  margin: 0 0 -10px 0;
  font-family: "Oswald", sans-serif;
}

/********************************************** Pre-carga1 Bolita *******************************************************/
.pre-carga1 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: 80px;
  background: transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.pre-carga1:before {
  content: "";
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: #188FA7;
  border-radius: 50%;
  box-shadow: inset 0 -10px rgba(0, 0, 0, 0.1);
  animation: pre-carga1 0.75s infinite linear;
}

.pre-carga1:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transform: scale(1, 0.25);
  animation: pre-carga1shadow 0.75s infinite linear;
}

@keyframes pre-carga1 {
  0% {
    transform: translate(0, -50%) scale(1, 0.8);
  }
  30% {
    transform: translate(0, -250%) scale(0.8, 1);
  }
  60% {
    transform: translate(0, -300%) scale(1, 0.8);
  }
  85% {
    transform: translate(0, -50%) scale(1, 0.8);
  }
  88% {
    transform: translate(0, -50%) scale(1, 0.8);
  }
  95%, 100% {
    transform: translate(0, -50%) scale(1, 0.8);
  }
}
@keyframes pre-carga1shadow {
  0% {
    transform: scale(1, 0.25);
  }
  30% {
    transform: scale(1.5, 0.25);
  }
  60% {
    transform: scale(2, 0.25);
  }
  85% {
    transform: scale(1, 0.25);
  }
  90% {
    transform: scale(1, 0.25);
  }
  100% {
    transform: scale(1, 0.25);
  }
}
/************************************************* PRE-CARGA4 BolitaAbsorvida  ***********************************************************/
.pre-carga4 {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  filter: blur(10px) contrast(20);
}

.bola-1, .bola-2 {
  width: 70px;
  height: 70px;
  position: absolute;
  background: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bola-1 {
  left: 20%;
  animation: obsorver 2.5s ease infinite;
}

.bola-2 {
  left: 80%;
  animation: envolver 2.5s ease infinite;
  background: #0ff;
}

@keyframes obsorver {
  0% {
    left: 20%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 20%;
  }
}
@keyframes envolver {
  0% {
    left: 80%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 80%;
  }
}
/********************************************** Pre-carga3 HolaBolita *******************************************************/
.pre-carga3 {
  position: absolute;
  top: 50%;
  left: 50%;
}

.pre-carga3 span {
  position: absolute;
  width: 1em;
  height: 1em;
  background: white;
  display: block;
  left: 0;
  top: 0;
  border-radius: 50%;
  animation: pre-carga3 2s ease-in-out infinite;
}

.pre-carga3 span:nth-child(1) {
  left: -2em;
  animation-delay: 0s;
}

.pre-carga3 span:nth-child(2) {
  left: -0.5em;
  animation-delay: 0.1s;
}

.pre-carga3 span:nth-child(3) {
  left: 1em;
  animation-delay: 0.2s;
}

.pre-carga3 span:nth-child(4) {
  left: 2.5em;
  animation-delay: 0.3s;
}

@keyframes pre-carga3 {
  0%, 75%, 100% {
    transform: translateY(0) scale(1);
  }
  25% {
    transform: translateY(2.5em);
  }
  50% {
    transform: translateY(-2.5em) scale(1.1);
  }
}
/********************************************** Pre-carga2 BarraMusic *******************************************************/
.pre-carga2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  display: flex;
  align-items: center;
}

.obj {
  width: 6px;
  height: 40px;
  background: #2980b9;
  margin: 0px 3px;
  border-radius: 10px;
  animation: pre-carga2 0.8s infinite;
}

.obj:nth-child(2) {
  animation-delay: 0.1s;
}

.obj:nth-child(3) {
  animation-delay: 0.2s;
}

.obj:nth-child(4) {
  animation-delay: 0.3s;
}

.obj:nth-child(5) {
  animation-delay: 0.4s;
}

.obj:nth-child(6) {
  animation-delay: 0.5s;
}

.obj:nth-child(7) {
  animation-delay: 0.6s;
}

.obj:nth-child(8) {
  animation-delay: 0.7s;
}

@keyframes pre-carga2 {
  0% {
    height: 0;
  }
  50% {
    height: 40px;
  }
  100% {
    height: 0;
  }
}
/************************************ SLIDER AUTOMATICO ****************************************/
.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.slider ul {
  display: flex;
  padding: 0px;
  width: 400%;
  animation: cambio 20s infinite alternate linear;
}
.slider li {
  width: 100%;
  list-style: none;
}
.slider img {
  width: 100%;
  height: 40vh;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
/*********************************************************** Tabla alterna ***********************************************************/
table {
  border-collapse: collapse;
  width: 100%;
  padding: 1rem;
}

.tabla-alterna thead tr {
  background-color: #333;
  color: #FFF;
  font-size: 1.5rem;
}
.tabla-alterna thead tr:hover {
  background-color: black;
}

.tabla-alterna tr {
  border-bottom: 0.2rem solid #333;
}
.tabla-alterna tr:nth-child(even) {
  background-color: aliceblue;
}
.tabla-alterna tr {
  background-color: #a9a9a93b;
}
.tabla-alterna tr:hover {
  background-color: teal;
}
.tabla-alterna td {
  font-size: 0.8rem;
  padding: 0.5rem;
}

/************************************ TABLAS COMPLEJA ********************************************/
/*Estilos generales para todos los proyectos cambiar*/
*,
*::after *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #333;
}

h1 {
  color: #333;
}

main {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.tabla-compleja {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  overflow: hidden;
}
.tabla-compleja tr {
  position: relative;
  display: -ms-flexbox;
  display: flex;
}
.tabla-compleja tr:hover {
  background: yellow;
}
.tabla-compleja tr::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eee;
  z-index: -2;
}
.tabla-compleja tr:nth-child(even)::after {
  background: #ddd;
}
.tabla-compleja td {
  line-height: 2.5;
  text-align: center;
  -ms-flex: auto;
  flex: auto;
  width: 100%;
}
.tabla-compleja td:hover {
  position: relative;
}
.tabla-compleja td:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10000px;
  background: yellow;
  left: 0;
  top: -5000px;
  z-index: -1;
}
.tabla-compleja th {
  width: 100%;
}

/************************************ TABLAS SIMPLE ********************************************/
.tabla-simple {
  width: 100%;
  border-collapse: collapse;
  background-color: black;
  color: white;
  border: solid 5px #13967b;
}
.tabla-simple tr {
  border: solid 2px #13967b;
}
.tabla-simple tr:hover {
  background-color: #96dbda;
}
.tabla-simple td, .tabla-simple th {
  padding: 0.5em;
}

/****************************************	VENTANA MODAL Formularios (Magtimus) *********************************************/
.modal-formulario {
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 99999999;
  background: rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.35s ease;
}
.modal-formulario .contenido-modal-formulario {
  width: 100%;
  max-width: 500px;
  position: fixed;
  left: 50%;
  top: -100vh;
  transition: top 0.35s ease;
  margin-left: -250px;
  background: #178eba;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  z-index: 9999999;
}
.modal-formulario h2 {
  padding: 0.5em;
  text-align: center;
  margin: 0;
}
.modal-formulario article {
  height: 300px;
  background-color: white;
  text-align: center;
}

.cerrar-modal-formulario {
  color: white;
  position: absolute;
  top: 0.2em;
  right: 0.375em;
  margin: 0;
  padding: 5px;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
}

.modal-formulario:target {
  opacity: 1;
  top: 0;
}

.modal-formulario:target .contenido-modal-formulario {
  top: 50px;
  transition: top 0.35 ease;
}

@media (max-width: 500px) {
  .modal-formulario .contenido-modal-formulario {
    width: 90%;
    max-width: none;
    left: 5%;
    margin-left: 0;
  }
}
/***************************************** VENTANA MODAL (Avisos publicitarios)*********************************************/
.contenedor-modal-publi {
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
}

.modal-publicidad {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  animation: modal 2s 3s forwards;
  visibility: hidden;
  opacity: 0;
}

.contenido-publicidad {
  margin: auto;
  width: 50%;
  height: 50%;
  background: white;
  border-radius: 10px;
}

#cerrar-publicidad {
  display: none;
}

#cerrar-publicidad + label {
  position: fixed;
  color: white;
  font-size: 25px;
  z-index: 50;
  background: darkred;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  right: 10px;
  cursor: pointer;
  animation: modal 2s 3s forwards;
  visibility: hidden;
  opacity: 0;
}

#cerrar-publicidad:checked + label, #cerrar-publicidad:checked ~ .modal-publicidad {
  display: none;
}

@keyframes modal {
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 688px) {
  .contenido-publicidad {
    width: 90%;
    max-width: none;
  }
}
.rt-container h2 {
  margin: 0 0 0.5em;
  font-weight: normal;
}

.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.row {
  display: -webkit-box;
  display: flex;
}

.row .col {
  -webkit-box-flex: 1;
  flex: 1;
}

.row .col:last-child {
  margin-left: 1em;
}

/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}

.tab-label {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1em;
  background: #2c3e50;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}

.tab-label:hover {
  background: #1a252f;
}

.tab-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.tab-close {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}

.tab-close:hover {
  background: #1a252f;
}

input:checked + .tab-label {
  background: #1a252f;
}

input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

.dashboard, .panel_admin_contenido {
  background-color: #F4F6F9;
  margin-bottom: 11.5vh !important;
}

.maquetado > * {
  padding: 0rem;
}

.contenedor_adm {
  display: flex;
  width: 100%;
  height: auto;
}

.panel_adm {
  display: flex;
  width: 100%;
  height: 12.7vh;
  top: 0;
  position: sticky;
  z-index: 2;
  position: -webkit-sticky;
}

.logo_adm {
  transition: 0.5s;
}

.panel_admin_contenido {
  width: 100%;
  transition: 0.5s;
}

.panel_soporte {
  height: auto;
  bottom: 0;
  position: absolute;
  background: white;
  border-top: 1px solid #dee2e6;
  color: #869099;
  font-weight: bolder;
  font-size: small;
}

.contenedor_adm > .vertical_menu {
  background: #302D43;
  width: 250px;
  position: fixed;
  padding-bottom: 13vh;
  z-index: 1;
  padding-top: 70px;
  left: 0;
  height: 100%;
  transition: 0.5s;
  transition-property: left;
}
.contenedor_adm > .vertical_menu .perfil_img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}
.contenedor_adm > .vertical_menu h4 {
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
}
.contenedor_adm > .vertical_menu i {
  padding-right: 10px;
}
.contenedor_adm > .vertical_menu a {
  display: block;
  color: #EAEDF3;
  text-decoration: none;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
  color: #EAEDF3;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 20px;
  box-sizing: border-box;
  transition-property: background;
  font-size: 2vh;
}
.contenedor_adm > .vertical_menu a:hover {
  background: #282639;
  border-left: 5px solid #92CF48;
  transition: all 0.3s ease-in-out;
}
.contenedor_adm > .vertical_menu a:hover .fa {
  color: #92CF48;
}
.contenedor_adm > .vertical_menu a .fa {
  color: #EAEDF3;
  font-size: 1.4rem;
  margin-right: 0.8rem;
  display: inline-block;
  width: 30px;
  position: relative;
  top: 2px;
}
.contenedor_adm > .vertical_menu a.active {
  background: #282639;
  border-left: 5px solid #92CF48;
  padding: 15px 30px 15px 25px;
}
.contenedor_adm > .vertical_menu a.active .fa {
  color: #92CF48;
}

.panel_adm > header {
  transition: 0.5s;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: white;
}
.panel_adm > header .buscador {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.panel_adm > header .buscador .fa {
  color: #EAEDF3;
  padding: 1vh;
}
.panel_adm > header .buscador input[type=text] {
  background: #F4F6F9;
  border: none;
  padding: 10px;
  color: #92CF48;
  font-weight: 100;
  width: 80%;
  transition: all 0.5 ease-in-out;
}
.panel_adm > header .buscador input:active,
.panel_adm > header .buscador input:focus,
.panel_adm > header .buscador textarea:focus {
  background: #F4F6F9;
  outline: none;
}
.panel_adm > header .panel_usuario {
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.panel_adm > header .panel_usuario a {
  color: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  display: flex;
  height: auto;
  text-decoration: none;
  padding: 0 2.5vw;
}
.panel_adm > header .panel_usuario a:nth-child(1) {
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: 600;
}
.panel_adm > header .panel_usuario a.agregar {
  font-size: 2.5vh;
  cursor: pointer;
}
.panel_adm > header .panel_usuario a.notificacion {
  position: relative;
  font-size: 3.5vh;
}
.panel_adm > header .panel_usuario a.notificacion .num_notificacion {
  background: red;
  width: 2vh;
  height: 2vh;
  border-radius: 50%;
  font-size: 2vh;
  color: white;
  text-align: center;
  position: absolute;
  top: -1vh;
  left: 50%;
  line-height: 1;
}
.panel_adm > header .panel_usuario a .usuario_img {
  background: url("../multimedia/user1-128x128.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 7vh;
  height: 7vh;
  border-radius: 50%;
}
.panel_adm > header .panel_usuario a .fa-caret-down {
  font-size: 3vh;
}
.panel_adm > header .panel_usuario a i {
  cursor: pointer;
}

#content-area {
  padding: 15px;
}
#content-area .heading h1 {
  color: purple;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: initial;
}
#content-area .heading p {
  color: #1b1b1b;
  font-size: 0.8rem;
  margin-bottom: 10px;
}
#content-area .card {
  min-height: 42vh;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  min-width: 150px;
  overflow: auto;
  max-height: 58.4vh;
  margin: 10px;
}
#content-area .card .user-img {
  background: url("../multimedia/user1-128x128.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  margin: 0 auto;
}
#content-area .card .user-name {
  font-size: 1rem;
  color: purple;
  display: block;
  text-align: center;
  margin: 10px 0;
}
#content-area .card .user-title {
  display: block;
  font-size: 0.8rem;
  text-align: center;
  margin: 10px 0;
}
#content-area .card .education {
  font-style: 0.8rem;
  display: inline-block;
  color: #6C7882;
}
#content-area .card .schools {
  font-style: 0.8rem;
}
#content-area .card h6 {
  font-size: 0.8rem;
}
#content-area .card .date {
  font-size: 1.3rem;
  display: block;
  border-left: 5px solid #92CF48;
  position: relative;
  left: -20px;
  padding: 5px 40px;
  margin: 20px 0;
}
#content-area .card .job-type {
  background: orange;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 0.5rem;
  color: white;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
#content-area .card .location {
  font-size: 0.8rem;
  font-weight: 300;
  display: block;
  margin-bottom: 0.5rem;
}
#content-area .card .position {
  display: block;
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
#content-area .card .time {
  display: block;
  font-size: 0.8rem;
  font-weight: 300;
  color: #6C7882;
  margin-bottom: 0.5rem;
}

table {
  width: 100%;
}
table thead {
  background: #EAEDF3;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
table thead th {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  text-align: left;
  padding: 20px 10px;
  color: #6C7882;
}
table tbody {
  background: #fff;
  font-size: 0.8rem;
}
table tbody td {
  padding: 20px 10px;
  color: #6C7882;
}
table tbody td .logo {
  display: inline-block;
  background: #92CF48;
  padding: 15px;
  border-radius: 50%;
  margin-right: 20px;
  width: 45px;
  height: 45px;
  color: #fff;
}

/***************************Esto es de la barra barra vertical verde ***********************/
.vertical_menu::-webkit-scrollbar,
.vertical_menu::-webkit-scrollbar-thumb {
  width: 7px;
  border-radius: 10px;
}

.vertical_menu::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}

.vertical_menu:hover {
  color: #a3a6a9;
  color: #92CF48;
}

.vertical_menu {
  overflow: auto;
  color: rgba(0, 0, 0, 0);
  text-shadow: 0 0 black;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  /*Este efecto hace que sea rapido el ocultar el sidebar*/
  transition: all 0.9s ease;
}

@media screen and (max-width: 243px) {
  .panel_adm > header .buscador input[type=text] {
    display: none;
  }

  .hambur_menu {
    width: 22px !important;
  }

  .tres_puntitos {
    display: block !important;
  }
}
@media screen and (max-width: 380px) {
  #content-area {
    padding: 0px;
  }

  .panel_adm > header {
    padding: 0;
  }

  .panel_adm > header .buscador {
    padding: 0 5px;
  }

  .panel_adm > header .buscador .fa {
    display: none;
  }

  .contenedor_adm {
    display: block;
  }

  .panel_soporte {
    width: 100%;
    margin-left: 0px;
    padding: 0.5rem;
    line-height: 1.4;
  }

  .logo_adm {
    display: none;
  }

  header {
    width: 100%;
  }

  .contenedor_adm .vertical_menu {
    display: none;
  }

  .vertical_menu {
    left: -190px;
    transition: all 1s ease;
    display: block;
  }
  .vertical_menu a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition-property: background;
  }

  #check:checked ~ .contenedor_adm .vertical_menu {
    background: #2F323A;
    padding-top: 70px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
    transition: all 1s ease;
    display: block;
  }
}
@media screen and (min-width: 381px) {
  .logo_adm {
    width: 60px;
  }
  .logo_adm span {
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: 900;
    background-color: white;
    border-top: solid 2px #00000030;
    border-right: solid 2px #00000030;
    border-left: solid 2px #00000030;
    border-bottom: solid 2px #00000030;
    font-size: 3vh;
  }

  .panel_admin_contenido {
    margin-left: 60.4px;
  }

  .panel_soporte {
    width: calc(100% - 60px);
    margin-left: 60px;
    padding: 0.8rem;
    line-height: 1.6;
  }

  .panel_adm > header {
    width: calc(100% - 60px);
    border: solid 2px #00000030;
    border-left: 0.1px solid #00000030;
  }

  .vertical_menu {
    background: #2F323A;
    padding-top: 70px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
  }
  .vertical_menu h4 {
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .vertical_menu i {
    padding-right: 10px;
  }
  .vertical_menu a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition-property: background;
  }

  #check:checked ~ .contenedor_adm .vertical_menu {
    left: -190px;
    padding-top: 24px;
  }
  #check:checked ~ .contenedor_adm .vertical_menu a {
    font-size: 20px;
    margin-left: 190px;
    width: 80px;
  }
  #check:checked ~ .contenedor_adm .vertical_menu a span {
    display: none;
  }
  #check:checked ~ .contenedor_adm .vertical_menu center .perfil_img {
    display: none;
  }
  #check:checked ~ .contenedor_adm .vertical_menu center h4 {
    display: none;
  }

  #check:checked ~ .panel_adm .logo_adm span {
    background-color: white;
    border-right: solid 2px #00000030;
    line-height: 12.1vh;
    font-size: larger;
    transition: all 0.5s;
  }
  #check:checked ~ .panel_adm header {
    border: none;
  }
}
@media screen and (min-width: 646px) {
  .panel_adm > header {
    width: calc(100% - 250px);
  }

  #check:checked ~ .contenedor_adm > .panel_admin_contenido {
    margin-left: 60.4px;
  }

  #check:checked ~ .panel_adm .logo_adm {
    width: 60px;
  }
  #check:checked ~ .panel_adm header {
    width: calc(100% - 60px);
  }

  .logo_adm {
    width: 250px;
    display: block;
    background-color: red;
  }

  .panel_admin_contenido {
    margin-left: 250px;
    overflow: auto;
    /*Esto lo use para desaparecer el scroll del table*/
  }

  .panel_soporte {
    width: calc(100% - 60px);
    margin-left: 60px;
    padding: 1rem;
    line-height: 1.7;
  }
}
label #sidebar_btn {
  z-index: 1;
  color: black;
  cursor: pointer;
  transition: 0.5s;
  transition-property: color;
  padding: 1vh;
}

#check {
  display: none;
}

.hambur_menu {
  width: 50px;
  height: 24px;
  position: relative;
  cursor: pointer;
}

.hambur_menu #linea_1, #linea_2, #linea_3 {
  position: absolute;
  background-color: #302D43;
  width: 25px;
  height: 5px;
  border-radius: 5px;
  transition: all 400ms ease;
}

#linea_2 {
  top: 9px;
}

#linea_3 {
  top: 18px;
}

#check {
  display: none;
}

#check:checked ~ .panel_adm .hambur_menu #linea_1 {
  transform: rotate(140deg);
  top: 10px;
}

#check:checked ~ .panel_adm .hambur_menu #linea_2 {
  opacity: 0;
}

#check:checked ~ .panel_adm .hambur_menu #linea_3 {
  transform: rotate(-140deg);
  top: 10px;
}

.wrapper {
  overflow: auto;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: small;
  /*Metiendo smaller aguanta hasta 770px*/
  line-height: 20px;
  font-weight: 400;
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

@media screen and (max-width: 640px) {
  body {
    font-size: 16px;
    line-height: 22px;
  }
}
.table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}

@media screen and (max-width: 640px) {
  .table {
    display: block;
  }
}
.row {
  display: table-row;
  background: #f6f6f6;
  text-align: center;
}

.row:nth-of-type(odd) {
  background: #e9e9e9;
}

.row.header {
  color: #ffffff;
  background-color: #92CF48;
}

.row.green {
  background: #27ae60;
}

.row.blue {
  background: #2980b9;
}

@media screen and (max-width: 640px) {
  .row {
    padding: 14px 0 7px;
    display: block;
    text-align: inherit;
  }

  .row.header {
    padding: 0;
    height: 6px;
  }

  .row.header .cell {
    display: none;
  }

  .row .cell {
    margin-bottom: 10px;
  }

  .row .cell:before {
    margin-bottom: 3px;
    content: attr(data-title);
    min-width: 98px;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #969696;
    display: block;
  }
}
.cell {
  padding: 6px 1%;
  display: table-cell;
}

@media screen and (max-width: 640px) {
  .cell {
    padding: 2px 16px;
    display: block;
  }
}
.percent svg circle {
  fill: none;
  stroke-width: 10;
  stroke: #000;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke-linecap: round;
}

.percent svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;
}

.percent svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 87 )/100);
  stroke: #03a9f4;
}

/************************************************************************************/
.caja_man {
  width: 100%;
  background-color: white;
}

.caja_man svg {
  width: 100%;
}

.caja_man svg circle {
  fill: none;
  stroke-width: 10;
  stroke: #000;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke-linecap: round;
  stroke-width: 4;
}

.caja_man svg .boli_1:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;
}

.caja_man svg .boli_1:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 128 )/100);
  stroke: green;
}

.caja_man svg .boli_2:nth-child(3) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;
}

.caja_man svg .boli_2:nth-child(4) {
  stroke-dashoffset: calc(440 - (440 *120 )/100);
  stroke: orange;
}

.caja_man svg .boli_3:nth-child(5) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;
}

.caja_man svg .boli_3:nth-child(6) {
  stroke-dashoffset: calc(440 - (440 *110 )/100);
  stroke: red;
}

/**************************************************************************************************************/
.divicion_pun_1, .divicion_pun_2, .divicion_pun_3 {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divicion_pun_1 p, .divicion_pun_2 p, .divicion_pun_3 p {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.tres_puntitos {
  display: flex;
  justify-content: space-between;
}

.divicion_pun_1 > p:nth-child(1) {
  background-color: green;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.divicion_pun_2 p:nth-child(1) {
  background-color: orange;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.divicion_pun_3 p:nth-child(1) {
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

/*
table {
    width: 100%;
    thead{
            background-color: $greyDarkBG;
            -webkit-border-top-left-radius:5px;
            -webkit-border-top-right-radius:5px;
            -moz-border-radius-topleft:5px;
            -moz-border-radius-topright:5px;
            border-top-left-radius:5px;
            border-top-right-radius:5px;
        th{
            font-size: 0.8rem;
            text-transform: uppercase;
            font-weight: 500;
            text-align: left;
            padding: 20px 10px;
            color:$greyDarkFont;


        }
    }
    tbody{
        background: #fff;
        font-size: 0.8rem;
        td{
            padding: 20px 10px;
            color:$greyDarkFont;
            .logo{
                display:inline-block;
                background: $greenNeon;
                padding: 15px;
                border-radius:50%;
                margin-right:20px;
                width: 45px;
                height: 45px;
                color:#fff;
            }
        }
    }
}
*/
.puntero-1, .puntero-1 a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url(../multimedia/cursores/4_cursor.cur), url(../multimedia/cursores/4_cursor.cur), pointer;
}

/*************************************** ESTO ES PARA FOOTER SIEMPRE ABAJO BRO :V
body{
    min-height:100%;

}
html{
    min-height:100%;
    position:relative;
}
.caja6{
    height: auto;
    bottom: 0;
    position: absolute;
    background: #fff;
    border-top: 1px solid #dee2e6;
    color: #869099;
    font-weight: bolder;
    font-size: small;
}
*/
/**********************    PIE DE PAGINA   *******************************************************/
.PieDePagina {
  width: 100%;
  height: 40px;
  text-align: center;
  padding: 10px;
  background: black;
  color: white;
}

/*
        *Tener un contenedor que es el formulario color pastel[Material desing] 
            - Input clasico(normales a lo boostrap)  ---> formato heigth 3 - 2 - 1  ---> input type text 
                -- 1,2,3 width ---> Seguro
            - Input borde(con field a lo google)     ---> formato heigth 3 - 2 - 1  ---> input type text 
                -- 1 width ---> Seguro
            - Input Desing(Solo material desing)     ---> formato heigth 3 - 2 - 1  ---> input type text 
                -- 1,2,3 width   ---> Seguro

        *Clases que llevara:
            - form_clasico  ancho_3 ancho_2 ancho_1     alto_3 alto_2 alto_1 
                    - control_item
                    - form_input   
            - form_borde    ancho_3 ancho_2 ancho_1     alto_1
            - form_diseño   ancho_3 ancho_2 ancho_1     alto_3 alto_2 alto_1

        *Opcional si no estas estrezado en formato dark osea oscuro los 3 tipos de formularios con sus categorias
*/
/****************************** INPUT CLASICO ***************************************************************************************************/
.campo_form {
  padding: 10px 20px;
}
.campo_form input {
  height: 5vh;
}

.form_base {
  width: 80%;
  height: auto;
  border: solid 4.3px #f7f7f9;
  margin: 0 auto;
  border-radius: 3px;
  background-color: white;
}
.form_base label {
  color: #363636;
  font-weight: 700;
  font-size: 0.91rem;
}

.campo_form input[type=text] {
  line-height: 200px;
}
.campo_form input[type=email] {
  line-height: 200px;
}
.campo_form .min_clasi {
  height: 4vh;
}
.campo_form .max_clasi {
  height: 5.9vh;
}

.form_base input, .form_base textarea {
  padding-left: 10px;
  font-size: 15px;
  border: 1px solid silver;
  border-radius: 0.3rem;
  width: 100%;
}
.form_base input:focus, .form_base textarea:focus {
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  outline: 0;
  box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.04);
  border-color: #86b7fe;
}

.contenedor_form_volador, .contenedor_form_progre {
  margin: auto;
  width: 90%;
  padding: 2vw;
  box-sizing: border-box;
  border: 1px solid #dadce0;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: white;
}
.contenedor_form_volador h2, .contenedor_form_progre h2 {
  padding-bottom: 30px;
  color: #fff;
  text-align: center;
  color: #202124;
  font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.contenedor_form_volador input[type=submit] {
  border: none;
  outline: none;
  color: #fff;
  background-color: #1a73e8;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 0.312rem;
  font-size: 1rem;
  margin: 0 auto;
}
.contenedor_form_volador .campo_bord_volador input {
  width: 100%;
  background: transparent;
  margin-bottom: 1.875rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 1.2vh 1.3vh;
}
.contenedor_form_volador .campo_bord_volador label {
  position: absolute;
  top: 0;
  pointer-events: none;
  transition: 0.5s;
  padding: 0.4rem;
  color: grey;
  left: 30px;
  font-size: 1.8vh;
}
.contenedor_form_volador .campo_bord_volador input[type=number] {
  padding: 0.55rem 0.7rem;
  padding-bottom: 0.5rem;
}

.contenedor_form_volador .campo_bord_volador input:focus ~ label,
.contenedor_form_volador .campo_bord_volador input:valid ~ label,
.contenedor_form_volador .campo_bord_volador input:not([value=""]) ~ label {
  font-size: 0.75rem;
  top: -0.6rem;
  height: 18px;
  padding: 0px 5px !important;
  text-align: center;
  left: 30px;
  color: #1a73e8;
  background-color: white;
}

.contenedor_form_volador .campo_bord_volador, .contenedor_form_progre .campo_bord_progre {
  position: relative;
  padding: 0 20px;
}

.contenedor_form_volador input[type=submit]:hover {
  background-color: #287ae6;
  box-shadow: 0 1px 1px 0 rgba(66, 133, 244, 0.45), 0 1px 3px 1px rgba(66, 133, 244, 0.3);
}
.contenedor_form_volador .campo_bord_volador input:focus {
  outline: none;
  border: 2px solid #1a73e8;
}

.min_desplazante label {
  padding: 0.4vh !important;
}
.min_desplazante input {
  padding: 0.7vh 0.9vh !important;
}
.min_desplazante input[type=number] {
  padding-top: 0.4rem !important;
  padding-bottom: 0.3rem !important;
}

.max_desplazante label {
  padding: 1.2vh !important;
}
.max_desplazante input {
  padding: 1.8vh !important;
}
.max_desplazante input[type=text], .max_desplazante input[type=email] {
  padding-bottom: 1.3vh !important;
}
.max_desplazante input[type=number] {
  padding-bottom: 0.6rem !important;
}

.contenedor_form_progre .campo_bord_progre input {
  width: 100%;
  background: transparent;
  width: 100%;
  background: transparent;
  padding: 0.5rem 0.29rem;
  border: none;
  padding-bottom: 0.3rem;
  padding-top: 0.6rem;
  border-bottom: 1px solid #c6c6c6;
  font-size: 18px;
}
.contenedor_form_progre .campo_bord_progre input:focus {
  outline: none;
  border: 2px solid #1a73e8;
  border: none !important;
}
.contenedor_form_progre .campo_bord_progre label {
  position: absolute;
  top: 0;
  pointer-events: none;
  transition: 0.5s;
  padding: 0.4rem;
  color: #c6c6c6;
  font-size: 1rem;
}
.contenedor_form_progre .campo_bord_progre input[type=password] {
  padding-bottom: 0.2rem;
}

.contenedor_form_progre .campo_bord_progre input:focus ~ label,
.contenedor_form_progre .campo_bord_progre input:valid ~ label,
.contenedor_form_progre .campo_bord_progre input:not([value=""]) ~ label {
  font-size: 0.75rem;
  top: -0.6rem;
  height: 18px;
  padding: 0px 5px !important;
  text-align: center;
  color: #2196F3;
}

.barra {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 1.875rem;
}

input:focus ~ .barra::before, textarea:focus ~ .barra::before {
  width: 100%;
}

.barra::before {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #6A82FB, #FC5C7D);
  transition: 0.3s ease all;
  left: 0%;
}

.min_progre label {
  padding: 0.2rem !important;
}
.min_progre input {
  padding-top: 0.3rem !important;
  padding-bottom: 0px !important;
}
.min_progre input[type=number] {
  padding-top: 0.5rem !important;
  padding-bottom: 0px !important;
}

.max_progre label {
  padding: 0.56rem !important;
}
.max_progre input {
  padding: 0.7rem 0.3rem !important;
  padding-top: 0.9rem !important;
}
.max_progre input[type=number] {
  padding-bottom: 0.5rem !important;
}
.max_progre input[type=text] {
  padding-bottom: 0.5rem !important;
  padding-top: 0.7rem !important;
}
.max_progre input[type=password] {
  padding-bottom: 0.5rem !important;
}
.max_progre input[type=email] {
  padding-bottom: 0.5rem !important;
  padding-top: 0.8rem !important;
}

.max_progre label {
  top: 6px !important;
}

.max_progre input:focus ~ label,
.max_progre input:valid ~ label, .max_progre input:not([value=""]) ~ label {
  top: -0.6rem !important;
}

.centrador_pro {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centrador_pro_2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/**********************    Los archivos por defecto las etiquetas estan en _reboot.scss   ***************************/
/* ESTO ES PARA FOOTER SIEMPRE ABAJO BRO :V
body{
    min-height:100%;

}
html{
    min-height:100%;
    position:relative;
}
.caja6{
    height: auto;
    bottom: 0;
    position: absolute;
    background: #fff;
    border-top: 1px solid #dee2e6;
    color: #869099;
    font-weight: bolder;
    font-size: small;
}
*/

/*# sourceMappingURL=xrl8.css.map */
